body { background-color: #000000; color: #FFFFFF; 
		font-family: Ariel, Helvetica, sans-serif; }
h1 { color: #CCCCCC;
	font-family: "Times New Roman" }
a { background-color: #CCCCCC}
.news { color: #C70000;
		font-style: italic;  }
